@import "tailwindcss";
@plugin '@tailwindcss/typography';
@import "@styles/theme.css";
/* @theme {
  --color-orange-300: oklch(83.7% 0.128 66.29); https://oklch.com/#0.3323,0.0685,271.34,100
} */


/* html {
    background-color: var(--color-mybg);
    background-image: url("/predator/testrender1png.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  } */
  
  body {
    margin: 0 auto;
    margin-top: 70px;
    width: 100%;
    min-height: 100%;
    /* max-width: 120ch; */
    /* padding: 1rem; */
    line-height: 1.5rem;
    color: var(--color-mytext);
    /* color:grey; */
    /* background: rgb(180, 215, 255); */
  }
  
  * {
    box-sizing: border-box;
    /* font-size: 0.3rem; */
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  /* p{
    padding-left: 30px;
  } */
/* @media screen and (min-width: 1920px) {
  h1 {
    margin: 1rem 0;
    font-size: 4rem;
  }


} */




  /* ------------------three js---------------- */
#container {
   width: 100%;
   height: 100%;
   display: block;
}