@import "tailwindcss";
@plugin '@tailwindcss/typography';
/* @theme {
  --color-orange-300: oklch(83.7% 0.128 66.29); https://oklch.com/#0.3323,0.0685,271.34,100
} */

@theme {
  --color-mytext: oklch(95.0% 0 0);
  --color-mytext2: oklch(29.3% 0.066 243.157);
  --color-mybg: oklch(0.0% 0.0 0.0);
  --color-panel: oklch(37.3% 0.034 259.733);
  --color-nybtn: oklch(52% 0.105 223.128);
  --color-nybtn-active: oklch(68.5% 0.169 237.323);
  --offset: 50px;
  /* --offset2: 0; */
}
