---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Video & Animation";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>I can also do simple Youtube videos and shorts.</h2>
	<h3>Product animation and internal design animation</h3>
	<h3>Also check out my 3D design & animation part! Link here.</h3>
</BaseLayout>