---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "2D Design";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>I love to do 2D designs including logos, business card, posters, and advertisement.</h2>
	<h3>Pictures here.</h3>
	<h3>Also check out my 3D design & animation part! Link here.</h3>
</BaseLayout>