---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Predator - Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Welcome to my personal website!</h2>
	<h3>I am a creative person and love learning new things. I like music, coffee and caracal cat!</h3>
</BaseLayout>