---
import BaseLayout from '../layouts/BaseLayout.astro';
import Threejs from '@components/Threejs.astro';
const pageTitle = "Predator - Home Page";
---
<!-- pageTitle={pageTitle} -->
<BaseLayout >
	<Threejs />
	<h2>Welcome to my personal website!</h2>
	<h3>I am a creative person and love learning new things. I like music, coffee and caracal cat!</h3>
</BaseLayout>