---
import BaseLayout from '../layouts/BaseLayout.astro';
import Threejs from '@components/Threejs.astro';
import Textbox from '@components/Textbox.astro';
import EXPERIENCE from '@components/Experience.astro';
import Card1 from '@components/Card1.astro';
import Card2 from '@components/Card2.astro';
import Card3 from '@components/Card3.astro';
import Card4 from '@components/Card4.astro';
import Card5 from '@components/Card5.astro';
import Whitebox from '@components/whitebox.astro';
import "@styles/skillpart.css"; 
const pageTitle = "Predator - Home Page";
---
<!-- pageTitle={pageTitle} -->
<BaseLayout >
	<Threejs />
	<Textbox t2={'Welcome to my personal website! I am a creative person and love learning new things. I like music, coffee and caracal cat!'}/>
    <h1>關於我</h1>
	<Whitebox imagePath="/src/images/me.png" t2={'蘇昱融'} t3={'學習是一生最重要的事'}/>
  <!-- t1={'創辦人'}  -->
<h1>Skills</h1>
  <div>
    <!-- <p>My skills are:</p> -->
    <Card1 />
    <Card2 />
    <Card3 />
    <Card4 />
    <Card5 />
    <!-- <div class="flex flex-row flex-wrap">
      {skills.map((skill) => <div class="text-white bg-blue-500 rounded-sm p-2 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">{skill}</div>)}
    -->
  <div/>
  <h1>Education</h1>
  <div>
  <EXPERIENCE/>
  </div>
</BaseLayout>
<script>
import "@scripts/cardd.js";
</script>
