---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Music & Sound Design";
import Whitebox from '@components/whitebox.astro';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>I love doing sound design for games.</h2>
	<h3>Check out my Soundcloud and Youtube link below!</h3>
	<Whitebox imagePath="/src/images/me.png" t1={'我喜歡創作有重低音的音樂，我也喜換創作beats，歡迎音樂家或饒舌rapper與我合作。'}/>
	<Whitebox imagePath="/src/images/me.png" t1={'我也希望有製作遊戲音效的機會，因為我喜歡sound design，用合成器做奇怪的聲音。'}/>
</BaseLayout>