---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Music & Sound Design";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>I love doing sound design for games.</h2>
	<h3>Check out my Soundcloud and Youtube link below!</h3>
</BaseLayout>