---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Other Services";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>I can also do some front-end web design!</h2>
	<h3>For referene: this website would be about 10000 NTD or 300 USD.</h3>
	<h3>Pictures here</h3>
</BaseLayout>