---
import BaseLayout from '../layouts/BaseLayout.astro';
import Whitebox from '@components/whitebox.astro';
const pageTitle = "Scientific Illustration";
import Textbox from '@components/Textbox.astro';
---

<BaseLayout pageTitle={pageTitle}>
	<Textbox t1={'科研繪圖'} t2={'從事科學研究者，不論在演講報告，還是在實驗室小組聚會，如何跟別人溝通自己的想法是必須的能力。但有時候，再多的口水也比不上簡單的示意圖，能讓聽眾融會段通，省下寶貴的口水。'}/>

	<Whitebox imagePath="/src/images/newlook.png" t1={'3D示意圖/動畫'}/>
	<Whitebox imagePath="/src/images/protein-render6-3.png" t1={'科研雜誌設計、商品期刊DM圖'}/>
	<!-- <Whitebox imagePath="/src/images/newlook.png" t1={'3D示意動畫'}/> -->
	<!-- <Whitebox imagePath="/src/images/testoutput3.png" t1={'2D示意動畫'}/> -->

	<!-- <h3>For referene: this website would be about 10000 NTD or 300 USD.</h3> -->
	<!-- <h3>Pictures here</h3> -->
</BaseLayout>