---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Tennis Coaching";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>I am a certified tennis coach in Taiwan.</h2>
	<h3>Tennis class 1v1 and group for recreational levels!</h3>
	<h3>Prcing is</h3>
	<h3>In academia Sinica and Taipei</h3>
	<h3>Schedule?</h3>
</BaseLayout>