---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Vtube & Anime";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>I love to draw cute anime girls!</h2>
	<h3>I also design vtube models and simple rigging for cheap!</h3>
	<h3>Pictures and videos here.</h3>
</BaseLayout>