---
// import type { ImageMetadata } from 'astro';
// import { Image } from 'astro:assets';
// import Imageadv from 'src/assets/fullhp.png';
// import Imagemid from 'src/assets/midhp.png';
// import Imagebeg from 'src/assets/lowhp.png';


// import icon_html from '/predator/public/html5.svg';
// import icon_css from '/predator/public/css.svg';
// import icon_js from '/predator/public/js.svg';
// import icon_twcss from '/predator/public/twcss.png';
// import icon_git from '/predator/public/git.svg';
// import icon_astro from '/predator/public/astro2.svg';
// import icon_blenderr from '/predator/public/blender.svg';
// import icon_houdini from '/predator/public/houdini3D.png';
// import icon_krita from '/predator/public/krita.png';
// import icon_python from '/predator/public/python.svg';
// import icon_l2d from '/predator/public/cubism.png';
// import icon_three from '/predator/public/Threejs-logo.svg';
import "@styles/skillpart.css"; 

---

<div class="flex flex-row m-3">
  <div class="h-[300px] md:h-[150px]">
    <div class = "borders12 duration-300 transform-flat">
      <p class="absolute text-xl translate-y-3 -translate-x-2 text-center">Music<br/>Sound<br/>Design</p>
      <div class = "borders2"></div>
      <!-- <div class = "borders3"></div> -->
    </div>
     
  <div class="flex flex-row flex-wrap md:justify-start md:h-[120px] pl-0 pr-4 pt-10 w-full">

    <div class= "mv2-1 flex-none bg-white p-1 m-2 text-center translate-x-1">
      <img src="/predator/reaper.jpg" alt="ladvanced" class="size-[30px]" title="Reaper"/>
      <!-- <Image src={Imageadv} alt="ladvanced" class="size-[30px]" title="advanced"/> -->
       <div class = "borders4"></div>
       <div class = "borders5"></div>
       <!-- <div class = "borders6"></div> -->
    </div>

    <div class= "mv2-2 flex-none bg-white p-1 m-2 text-center translate-x-1">
      <img src="/predator/ni.png" alt="ladvanced" class="size-[30px]" title="NativeInstrument"/>
      <!-- <Image src={Imageadv} alt="ladvanced" class="size-[30px]" title="advanced"/> -->
       <div class = "borders4"></div>
       <!-- <div class = "borders5"></div> -->
       <!-- <div class = "borders6"></div> -->
    </div>

  </div>
</div>