---
// import type { ImageMetadata } from 'astro';
// import { Image } from 'astro:assets';
// import Imageadv from 'src/assets/fullhp.png';
// import Imagemid from 'src/assets/midhp.png';
// import Imagebeg from 'src/assets/lowhp.png';


// import icon_html from '/predator/public/html5.svg';
// import icon_css from '/predator/public/css.svg';
// import icon_js from '/predator/public/js.svg';
// import icon_twcss from '/predator/public/twcss.png';
// import icon_git from '/predator/public/git.svg';
// import icon_astro from '/predator/public/astro2.svg';
// import icon_blenderr from '/predator/public/blender.svg';
// import icon_houdini from '/predator/public/houdini3D.png';
// import icon_krita from '/predator/public/krita.png';
// import icon_python from '/predator/public/python.svg';
// import icon_l2d from '/predator/public/cubism.png';
// import icon_three from '/predator/public/Threejs-logo.svg';


---

<div class="flex flex-row">
  <div class="h-[300px] md:h-[150px]">
    <div class = "borders1 duration-300 transform-flat">
      <p class="absolute text-xl translate-y-5 -translate-x-3 text-center">3D & VFX</p>
      <div class = "borders2"></div>
      <div class = "borders3"></div>
    </div>
    
    

  <div class="flex flex-row flex-wrap md:justify-start md:h-[120px] pl-0 pr-4 pt-10 w-full">

    <div class= "mv1-1 flex-none bg-purple-500 rounded-full p-1 m-2 text-center ">
      <img src="/predator/blender.svg" alt="ladvanced" class="size-[30px]" title="Blender"/>
      <!-- <Image src={Imageadv} alt="ladvanced" class="size-[30px]" title="Advanced"/> -->
       <div class = "borders4"></div>
       <div class = "borders5"></div>
       <div class = "borders6"></div>
    </div> 

    <div class= "mv1-2 flex-none bg-purple-500 rounded-full p-1 m-2 text-center ">
      <img src="/predator/Houdini3D.png" alt="ladvanced" class="size-[30px]" title="Houdini"/>
      <!-- <Image src={Imagemid} alt="ladvanced" class="size-[30px]" title="intermediate"/> -->
       <div class = "borders4"></div>
       <div class = "borders5"></div>
       <!-- <div class = "borders6"></div> -->
    </div>

    <div class= "mv1-3 flex-none bg-purple-500 rounded-full p-1 m-2 text-center ">
      <img src="/predator/Gaea_Text_Yellow.svg" alt="ladvanced" class="size-[30px]" title="Gaea"/>
      <!-- <Image src={Imageadv} alt="ladvanced" class="size-[30px]" title="advanced"/> -->
       <div class = "borders4"></div>
       <div class = "borders5"></div>
       <div class = "borders6"></div>
    </div>
    <div class= "mv1-4 flex-none bg-purple-500 rounded-full p-1 m-2 text-center ">
      <img src="/predator/UE.svg" alt="ladvanced" class="size-[30px]" title="UE5"/>
      <!-- <Image src={Imageadv} alt="ladvanced" class="size-[30px]" title="advanced"/> -->
       <div class = "borders4"></div>
       <!-- <div class = "borders5"></div>
       <div class = "borders6"></div> -->
    </div>
  </div>
</div>