---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
  date: "2025-present",
    title: "Freelancer",
    company: "",
    description:
      "I started learning 3D programs like Blender and Houdini. I am also started making music and post in my youtube channel. I will start my Fiverr and Beatstar account soon.",
  },
  {
  date: "2024 - 2025",
    title: "Research Assistant",
    company: "Academia Sinica, Taiwan",
    description:
      "I worked in a biological lab and learned how to grow stem cells and take confocal images. I also learned soft lithography and photolithogaphy technoqies.",
  },
  {
    date: "2020 - 2023",
    title: "MSc Physics",
    company: "University of Göttingen, Germany",
    description:
      "Focus: Computational Biophysics. Familiar with lipid membrane simulation using Gromacs and VMD",
  },
  {
    date: "2019 - 2020",
    title: "Research Assistant",
    company: "Max Planck Institute for Dynamics and Self-Organization",
    description:
      "Focus: Dictyostelium discoideum and tracking of Chlamydomonas flagella",
  },
  {
    date: "2016 - 2020",
    title: "BSc Physics",
    company: "University of Göttingen, Germany",
    description:
      "Focus: Complex Systems, Fluid Dynamics, Machine Learning, Microfluidics",
  }
];
---
<!-- overflow-hidden rounded-xl shadow-2xl max-w-lg md:max-w-2xl mt-12 mb-8 bg-white -->
<div class="rounded-xl shadow-2xl max-w-lg md:max-w-2xl mt-12 mb-12 ml-3 bg-white/10 backdrop-blur-sm inline-block" aria-label="Professional experience">
  <ol class="relative mt-8 mb-4">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="2xl:text-xl">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-1 pt-4 text-white md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
