---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: "2017 - 2021",
    title: "B.SC Physics",
    company: "Göttingen University, Germany",
    description:
      "Research Assistant in Max Planck Institute for dynamics and complex systems",
  },
  {
    date: "2021 - 2024",
    title: "M.SC Physics",
    company: "Göttingen University, Germany",
    description:
      "My studium focus is Biophysics. I have done lipid membrane simulation using Gromacs",
  },
  {
  date: "2024 - 2025",
    title: "Research Assistant",
    company: "Academia Sinica, Taiwan",
    description:
      "I worked in a biological lab and learned how to grow stem cells and take confocal images. I also learned soft lithography and photolithogaphy technoqies.",
  },
  {
  date: "2025-present",
    title: "Freelancer",
    company: "",
    description:
      "I started learning 3D programs like Blender and Houdini. I am also started making music and post in my youtube channel.",
  },
];
---

<div class="relative max-md:mt-0 mt-4" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-300 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
