---
// import ThemeIcon from './ThemeIcon.astro';
import "@styles/global.css";
// import "@scripts/menu.js";
import { Image } from 'astro:assets';
import localBirdImage from '/src/images/logo-white512.png';
---
<!-- <div class="nav-links">
  <a href="/predator/">Home</a>
  <a href="/predator/about/">About</a>
  <a href="/predator/blog/">Blog</a>
  <a href="/predator/tags/">Tags</a>
  <ThemeIcon />
</div> -->

<!-- <div class="fixed navbar">
	<h1 class="navbar_logo"><a href="#">獵人劈視覺效果工作室</a></h1>
    <ul class="navbar_inks">
        <li><a href="/predator/">Home</a></li>
        <li><a href="/predator/about/">About</a></li>
        <li><a href="/predator/blog/">Blog</a></li>
        <li><a href="/predator/tags/">Tags</a></li>
        <li><a href="/predator/blog/">Contact</a></li>
    </ul>
  </div>
</div> -->

<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<nav class="bg-gray-900 w-full fixed top-0 flex items-center justify-between flex-wrap p-2 shadow-lg shadow-cyan-500/50 transition duration-300 hover:brightness-200 reacthover">
  <div class="flex items-center text-white w-full md:w-90">
    <!-- <a>獵人劈視覺效果工作室</a> -->
    <Image src={localBirdImage} alt="logo" class="size-[50px] "/>
    <span class="font-medium text-2xl tracking-widest text-center w-full md:w-80 inline-flex">
      <a>獵人劈視覺效果工作室
      </a>
      <a class="grow"/>
      <svg class="ml-5 h-7 w-7 fill-white md:flex-none md:fill-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
    </span>
      

  </div>
    <!-- <div class="block md:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div> -->
  <div class="w-full flex-grow md:items-center md:w-auto nav-links">
    <div class="text-base md:flex-grow">
      <button class="hover:bg-sky-700 duration-150 md:inline-block p-2 space-x-px rounded-md w-full md:w-16">
        <a href="/predator/" class="mt-4 md:mt-0 text-teal-200">
        Home
        </a>
      </button>
      <button class="hover:bg-sky-700 duration-150 md:inline-block p-2 space-x-px rounded-md w-full md:w-16">
      <a href="/predator/about/" class="mt-4 md:inline-block md:mt-0 text-teal-200">
        About
      </a>
      </button>
      <button class="hover:bg-sky-700 duration-150 md:inline-block p-2 space-x-px rounded-md w-full md:w-40">
      <a href="/predator/blog/" class="mt-4 md:inline-block md:mt-0 text-teal-200">
        Portfolio / Blog
      </a>
      </button>
      <button class="dropdown hover:bg-sky-700 duration-150 md:inline-block p-2 space-x-px rounded-md w-full md:w-24">
      <!-- <a href="/predator/tags/" class="mt-4 md:inline-block md:mt-0 text-teal-200">
        Service
      </a> -->
        <span class="mt-4 md:inline-block md:mt-0 text-teal-200"> Service</span>
        <div class="dropdown-content md:-translate-x-[80px] md:w-[300px] bg-gray-900 w-full flex flex-col md:rounded-md shadow-md shadow-cyan-500">
          <!-- <a href="/predator/tennis/" class="mt-4 md:inline-block md:mt-0 text-teal-200">
            Tennis
          </a>
          <a href="/predator/cg/" class="mt-4 md:inline-block md:mt-0 text-teal-200">
            3d & VFX
          </a>
          <a href="/predator/music/" class="mt-4 md:inline-block md:mt-0 text-teal-200">
            Music & Sound
          </a> -->
          <ul>
            <!-- <li class="hover:bg-sky-700 duration-150 rounded-md h-10 pt-2"><a href="#home">Home</a></li> -->
            <li class="hover:bg-sky-700 duration-150 rounded-md h-10 pt-2"><a href="/predator/music/">Music & Sound Design</a></li>
            <li class="hover:bg-sky-700 duration-150 rounded-md h-10 pt-2"><a href="/predator/cg/">CG & VFX</a></li>
            <li class="hover:bg-sky-700 duration-150 rounded-md h-10 pt-2"><a href="/predator/tennis/">Tennis Coaching</a></li>
            <li class="hover:bg-sky-700 duration-150 rounded-md h-10 pt-2"><a href="/predator/graphicd/">2D Design</a></li>
            <li class="hover:bg-sky-700 duration-150 rounded-md h-10 pt-2"><a href="/predator/vtube/">Vtube & Anime</a></li>
            <li class="hover:bg-sky-700 duration-150 rounded-md h-10 pt-2"><a href="/predator/ot/">Others</a></li>

          </ul>
        </div>
      </button>
      <button class="hover:bg-sky-700 duration-150 md:inline-block p-2 space-x-px rounded-md w-full md:w-16">
      <a href="/predator/tags/" class="mt-4 md:inline-block md:mt-0 text-teal-200">
        Tags
      </a>
      </button>
    </div>
    <!-- <div>
      <a href="#" class="inline-block text-md px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 md:mt-0">Download</a>
    </div> -->
  </div>
</nav>
<script>
  import "@scripts/menu.js";
</script>