---
const { platform, username } = Astro.props;
import "@styles/global.css";

---
<div class="m-5" id = "footerbtn">
    <a class='rounded-lg' href={`https://www.${platform}.com/${username}`}>{platform}</a>
</div>
<!-- <style>
  a {
    padding: 0.5rem 1rem;
    margin: 1rem;
    color: white;
    background-color: var(--color-nybtn);
    text-decoration: none;
  }
  a :hover {
    background-color: var(--color-panel);
  }
</style> -->