---

---
		<script src="../scripts/main.js"></script>
		<!-- <script type="module">
            import "/predator/src/scripts/main.js"; <script src="../scripts/entry.ts"></script>
		</script> -->
			
		<div class="pt-0 h-64 md:h-64 min-w-64 mt-13">
			<!-- <div class="w-full bg-white h-full"><div/> class="w-full h-full"-->
			<canvas id="container"></canvas>
		</div>